<!DOCTYPE html>
<html>
<head>
<title>
  {% block title %}{% endblock%}
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='overide.css') }}">
<script type=text/javascript src="{{url_for('static', filename='jquery-3.4.1.js') }}"></script>
<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{% block myscript %}{% endblock %}
</head>
<body>
{% block content %}
{%endblock %}


</body>
</html>
