{% extends "bootstrap/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
 {% for message in get_flashed_messages() %}
     <div class="alert alert-info">{{ message }}</div>
 {% endfor %}


<span style="float:left">
    <form class="text-center border border-light p-5" method="post" action="{{ url_for('reports.report') }}">
          <p class="h4 mb-4">Report</p>
        
          <label for="exampleFormControlSelect1">Type select</label>
          <select class="form-control" id="exampleFormControlSelect1" name="type">
            <option>Water</option>
            <option>Road</option>
            <option>Electricity</option>
            <option>Other</option>

          </select>
          <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Area" name="area" required>
          <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Mulfunction" name="mulf" required>
         <button class="btn btn-info btn-block my-4" type="submit">Report</button>
    </form>
</span>
<span style="float:right">
  <form class="text-center border border-light p-5" method="post">
        <p class="h4 mb-4">Sign in</p>
        <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username" name="username" required>
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password" required>
       <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
  </form>
</span>
{% endblock %}
