{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container">
 {% for message in get_flashed_messages() %}
     <div class="alert alert-info">{{ message }}</div>
 {% endfor %}


  <div class="row">
    <div class="col">
    <form class="" method="post" action="{{ url_for('reports.report') }}">
         <div class="form-group">
          <p class="h4 mb-4 text-center" >Report</p>
          </div>
           <div class="form-group">
          <select class="form-control"  name="type" >
            <option>Water</option>
            <option>Road</option>
            <option>Electricity</option>
            <option>Other</option>

          </select>
          </div>
           <div class="form-group">
             <select class="form-control"  name="region" >
               {% for region in regions %}
               <option>{{region['name']}}</option>
               {%endfor%}
             </select>
          </div>
          <div class="form-group">
            <select class="form-control"  name="area" >
              {% for area in areas %}
              <option>{{area['name']}}</option>
              {%endfor%}
            </select>
         </div>
          <div class="form-group">
              <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Address" name="address" required>
          </div>
           <div class="form-group">
          <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Description" name="description" required>
          </div>
          <div class="form-group">
         <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Contact name" name="contact_name" >
         </div>
         <div class="form-group">
        <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Contact phone" name="contact_phone" >
        </div>
           <div class="form-group">
           <button class="btn btn-info btn-block my-4" type="submit">Report</button>
         </div>



    </form>
  </div>
  {% if g.user %}
  <div class="col">
  <form class="" method="get" action="{{url_for('reports.entries')}}">
      <div class="form-group">
       <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
      </div>
  </form>
  </div>
  {% else %}
  <div class="col">
  <form class="" method="post">
      <div class="form-group">
        <p class="h4 mb-4 text-center">Sign in</p>
        </div>
        <div class="form-group">
            <input type="text" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username" name="username" required>
            </div>
        <div class="form-group">
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password" name="password" required>
          </div>
        <div class="form-group">
       <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
         </div>
  </form>
  </div>
  {% endif %}
  </div>
</div>



{% endblock %}
